extends layout

block content
    h1 Edit Expense
    form#formEditExpense(name="editexpense",method="post", action="/updateexpense")
      input#inputExpenseId(type="hidden", name="_id", value=expense._id)
      h2 Name
      input#inputExpenseName(type="text", name="expensename" value=expense.name)
      h2 Price
      input#inputExpensePrice(type="text", name="expenseprice" value=expense.price)
      h2 Category
      input#inputExpenseCategory(type="text", name="expensecategory" value=expense.category)
      h2 Date
      input#inputDate(type="text", name="expensedate", value=expense.date)
      button.btn.btn-success#btnSubmit(type="submit") Update
    a.btn.btn-primary(href="/expenses") Cancel