extends layout

block content
    h1.
        Expenses 

    a.btn.btn-primary(href="/addexpense") Add expense

    h2.
        History 
    div
      table.table.table-hover

        thead
          tr 
            th Name
            th Price
            th Category
            th Date
            th Details
            th Edit
            th Delete
        tbody
          each expense, i in expenses
            tr
              td= expense.name
              td= expense.price
              td= expense.category
              td= expense.date
              td: a.btn.btn-success( href="/expense/" + expense._id ) 
                span.glyphicon.glyphicon-search
              td: a.btn.btn-warning( href="/expense/edit/" + expense._id )
                span.glyphicon.glyphicon-pencil
              td: a.btn.btn-danger( href="/expense/remove/" + expense._id )
                span.glyphicon.glyphicon-remove


    h2.
        Statistics 
    div
      table.table.table-hover

        thead
          tr 
            th Category
            th Sum
        tbody
          each category, i in categories
            tr
              td= category.name
              td= category.sum
              

